<style type="text/css">

body {background-color: {color:background}; font-family: {font:text}; color: {color:#000000}; text-align: center; font-size: 15px; background-attachment: fixed}

<a> {color: {color:link}; text-decoration: none; text-transform: none;}
a:hover {color: {color:link}; background-color: {color:bglink}; text-decoration: none;}

p {margin: 6px 0 0 0}

#xp {margin-top: 10px;}

.posts {margin-top: -200px; width: 500px; margin-left: 420px; background-color: {color:post}; padding: 10px; margin-bottom: 7px; text-align: center; font-family: {font:text}; font-size: 16px;}

h1 {margin-top: 70px; font-family: {font:title}; text-align: center; font-size: 20px; font-style: italic; text-transform: none; color: {color:text}; font-weight: normal; line-height: 18px;}
h1 a {text-align: center; font-size: 18px; font-style: italic; text-transform: none; color: {color:text}; font-weight: normal; line-height: 14px;}
h1 a:hover {text-align: center; font-size: 18px; font-style: italic; text-transform: none; color: {color:text}; font-weight: normal; line-height: 20px;}

#sidebar {bottom: 0px; left: 745px; float: left;  width: 255px; position: fixed;}

.sidebartitle {margin-left: -10px; margin-top: -30px; width: 250px; height: 100%; background-color: {color:left}; text-align: right; padding: 10px; position: auto;}

.ttle {margin-top: 150px; text-align: right; font-style: italic; font-family: {font:text}; text-transform: lowercase; font-size: 32px; color: {color:text};}
.ttle a{font-family: {font:title}; font-style: italic; font-size: 32px; color: {color:text}; background-color: transparent; }
.ttle a:hover {font-family: {font:title}; font-style: italic; font-size: 22px; color: {color:text}; background-color: transparent;}

.sideb{position: fixed; float: left; margin-top: -30px; margin-left: 270px; width: 120px; height: 100%; font-size: 11px; font-family: {font:text}; color:{color:#000000}; text-align: center; background: {color:left}; line-height: 14px; padding: 10px;}

.ss {margin-top: 4px; text-align: right; margin-bottom: 4px; font-size: 10px; background-color: {color:left}; color: {color:#000000}; font-family: {font:text}; padding: 5px;}

.sleft {margin-left: 50px; text-align: right; width: 200px;}
.sleft a {display: inline; font-family: {font:text}; font-size: 14px; text-align: right; margin-bottom: 1px; background-color: {color:#000000}; color:{color:#000000}; text-decoration: none; text-transform: lowercase;}
.sleft  a:hover{text-align: right; background-color: {color:left}; color:{color:#000000};}

.search {letter-spacing: 3px; margin: 1px 0px 0px 0px; padding: 0px;}
.search input{font-family: {font:text}; font-style: italic; border: none; background-color: {color:sidebarlinks}; opacity: 0.4; filter:alpha (opacity=20); color: {color:text}; font-size: 10px; text-transform: none; text-align: right; padding: 2px; width: 180px;}


div#container{background-color: #E0ECFF;margin: 0 auto; width:850px;}

p {margin: 10px 10px;}
ul#produtos {list-style:none;}
div#carrinho-top {background-color: #C92D21; width: 800px; color: #fff; border-bottom:1px dashed #fff; opacity: .8; position:relative;}

div#carrinho-info {padding: 10px;}
div#carrinho-container {height:240px; position:absolute; width:240px; background-color:#fff; border:2px solid #c92d21; display:none;}

div#carrinho-container ul{ overflow:auto; height:200px; margin: 10px; list-style:none; }
div#carrinho-container ul li{ color:#333; font-size:12px; border-bottom:1px dotted #ccc; text-align:center; margin:10px; }

ul#produtos li{float: left; background-color:#fff; -moz-box-shadow: 5px 5px 5px #ccc; -webkit-box-shadow: 5px 5px 5px #ccc; box-shadow: 5px 5px 5px #ccc; padding:10px; margin:15px; width:170px; text-align:center;}

ul#produtos li h3{ margin: 6px 0 6px 0; color: #594A40; background-color:#f2f2f2; padding:6px;}
p.preco-de {color:red; text-decoration:line-through; font-size:11px;}
p.preco-por {color: #594A40; font-weight:900;}
.ui-state-hover {height:160px; border:4px dashed #000;}

.ui-draggable-helper {
 /*border: 1px dotted #000;
 padding: 6px;
 background: #fff;*/
 /*font-size: 1.2em;*/
 opacity: 0.9;
 width: 18%;
}

.col-md-4 img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.col-md-4 img:hover{
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: none;
  filter: none;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

#newsletter-container {
  background-color: #EDEDED;
  /*padding: 27px 0;*/
}

#newsletter-container h3 {
  font-size: 15px;
  font-weight: bold;
  line-height: 46px;
  color: #444b4c;
  text-transform: uppercase;
  margin: 0;
  float: left;
}

h3 {
  font: 19px/38px Arial,sans-serif;
  margin: 50px 0 20px;
  color: #e3e3e3;
  text-transform: uppercase;
}

#newsletter-container form {
  float: right;
}

#newsletter-container input[type=text] {
  height: 46px;
  width: 300px;
  vertical-align: top;
  margin-right: 5px;
  border-radius: 4px;
  border: 3px solid #9E9E9E;
  background: white;
  line-height: 20px;
  padding: 5px 10px 5px 20px;
  color: #727b7c;
}

input, select, textarea {
  outline: 0;
}

#newsletter-container .btn {
  padding: 12px 20px;
  font-size: 17px;
  line-height: 20px;
}

.btn-custom-3 {
  color: #fff;
  background-color: #575a59;
  border-color: #5c5f5e;
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
  box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
}

.btn-custom-3:hover {
  color: black;
  background-color: white;
  border-color: #5c5f5e;
  -webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
  box-shadow: inset 0 1px 1px rgba(255,255,255,.4);
}


::selection {
  background-color: #7bae23;
  color: #fff;
}

</style>
